<footer>
  <div class="footer-tagline">
    <h3 class="tagline">
      Curatur - Collaboratively crafted software
    </h3>
  </div>

  <p>
    <a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Fcuratur.com%2F&region=follow_link&screen_name=curatur&tw_p=followbutton&variant=2.0"><i class="fa fa-twitter-square"></i></a>
    <a href="https://www.linkedin.com/company/curatur/"><i class="fa fa-linkedin-square"></i></a>
    <a href="https://www.facebook.com/pages/Curatur/300338723453259"><i class="fa fa-facebook-square"></i></a>
    <a href="https://github.com/curatur"><i class="fa fa-github-square"></i></a>
    <a href="mailto:hello@curatur.com"><i class="fa fa-envelope-square"></i></a>
  </p>


  <p>&copy; 2013–{{ site.time | date: '%Y' }} {{ site.author.name }}</p>
</footer>
