.profile-photo {
  float: left;
  position: relative;
  top: 1em;
  margin-bottom: 2em;
  margin-right: 1em;
  text-align: center;
  width: 6em;

  @include media($large-mobile) {
    img {
      width: 4em;
    }
  }

  @include media($mobile) {
    float: none;
    margin: 0;
    margin-bottom: 1.5em;

    img {
      width: 3em;
      margin: 0 auto;
    }
  }
}
