#home {
  @include outer-container;

  article {
    @include span-columns(12);
    background-image: url(/images/gp1.jpg);
    background-size: 100%;
    background-position: center center;
    font-size: 1.5em;
    padding: 2em;
    text-align: center;

    h1 {
      padding: 0.5em;
      background-color: fade-out(#000, 0.4);
      color: $light-color;
      text-align: left;
      @include border-top-radius(5px);
      @include border-bottom-radius(5px);
    }

    p {
      text-align: left;
      padding: 0.5em;
      background-color: fade-out(#000, 0.4);
      color: $medium-text-color;
    }

    h2 {
      margin: 0 auto;

      a {
        display: inline-block;
        padding: 0.2em 2em;
        @include border-top-radius(15px);
        @include border-bottom-radius(15px);
        background-color: $medium-text-color;
        border: 1px solid $dark-color;
      }
    }
  }
}

