$mobile-size: 320px;
$large-mobile-size: 640px;
$tablet-size: 960px;
$desktop-size: 1280px;
$big-display-size: 1600px;

$mobile: new-breakpoint(max-width $mobile-size 4);
$large-mobile: new-breakpoint(max-width $large-mobile-size 4);
$tablet: new-breakpoint(max-width $tablet-size 8);
$desktop: new-breakpoint(max-width $desktop-size 12);
$big-display: new-breakpoint(max-width $big-display-size 16);
