@include media($mobile) {
  #home {
    article {
      font-size: 1.0em;
      padding: 0.2em;
    }
  }
}

@include media($large-mobile) {
  #home {
    article {
      font-size: 1.2em;
      padding: 1em;
    }
  }

  header {
    height: 8em;
    nav.left {
      display: block;
      float: left;
      width: 100%;
    }

    nav.right {
      clear: left;
      display: block;
      float: left;
      width: 100%;
      padding-right: 0.1em;
    }

    div#site-title {
      display: none;
    }
  }
}


