header {
  @include outer-container;
  @include bottom-align;
  padding: 0 0.2em;
  margin-bottom: 0.2em;
  height: 5em;

  @include media($large-mobile) {
    height: 6.2em;
  }

  @include media($mobile) {
    height: 4em;
  }

  .navlink {
    margin-left: 1em;
  }

  nav.left {
    @include span-columns(5);
    @include bottom-align;

    @include media($large-mobile) {
      @include span-columns(3);
      text-align: center;
    }

    div.header-logo {
      @include span-columns(3);

      img {
        height: 4em;

        @include media($mobile) {
          height: 3em;
        }
      }

      @include media($large-mobile) {
        @include span-columns(3);
        margin: 0 auto;
      }

      @include media($mobile) {
        @include span-columns(3);
        margin: 0 auto;
      }
    }

    div.site-title {
      @include span-columns(2);
      width: 100%;
      font-size: 1.7em;
      padding-left: 2em;
      width: 10em;
      position: relative;
      top: 0.3em;

      @include media($large-mobile) {
        @include span-columns(3);
        clear: both;
        font-size: .5em;
        padding: 0;
        margin: 0 auto;
      }

      @include media($mobile) {
        display: none !important;
      }
    }
  }

  nav.right {
    @include span-columns(7);
    text-align: right;
    padding-right: 1em;

    @include media($large-mobile) {
      @include span-columns(10);
      padding-right: 0.1em;
    }

    a {
      display: inline-block;
      @include media($large-mobile) {
        font-size: 1.5em;
      }
      @include media($mobile) {
        font-size: 1.2em;
      }
    }
  }
}
